ngui-map {
  height: 50vh;
}

#background {
  padding-top: 20px;
  min-height: 100vh;
  height: 100%;
  width: 100vw;
}

.counterMarker {
  height: 30px;
  width: 30px;
  font-size: 1.2rem;
  padding: 0 10px;
  line-height: 30px;
  border-radius: 50%;
  background-color: #95a5a6;
  color: #eceff1;
}

.counterMarker i {
  font-size: 1.2rem;
  margin-left: -4px;
  line-height: 30px;
}

.counterMarker.disabled {
  opacity: 0.6;
}

.counterMarker.pulse {
  opacity: 1.0;
}

#progress {
  font-size: 2rem;
  font-weight: bold;
}

td {
  padding: 5px;
  vertical-align: top;
  width: 200px;
}

#trackingNumber {
  font-size: 2rem;
  vertical-align: middle;
  margin-left: 50px;
}

#timelineCard {
  height: calc(100vh - 270px);
  overflow-y: scroll;
}

.collapsible-body {
  background-color: white;
}

#shipmentDetails {
  height: calc(100vh - 540px);
}
/* Time line component has to be styled in styles.scss */

/*
  Vertical time line component styling
  adopted from https://codyhouse.co/demo/vertical-timeline/index.html
 */

::ng-deep vertical-timeline .timeline {
  position: relative !important;
  padding: 2em 0 !important;
  margin-top: 5em !important;
}
::ng-deep vertical-timeline .timeline::before {
  content: '' !important;
  position: absolute !important;
  top: 0 !important;
  left: 18px !important;
  height: calc(100% - 160px) !important;
  width: 4px !important;
  background: #d7e4ed;
}
::ng-deep vertical-timeline .timeline > div {
  margin-top: -90px !important;
}
::ng-deep vertical-timeline .timeline-item:after {
  content: "" !important;
  display: table !important;
  clear: both !important;
}
::ng-deep vertical-timeline .timeline-item:first-child {
  margin-top: 0 !important;
}
::ng-deep vertical-timeline .timeline-item:last-child {
  margin-bottom: 0 !important;
}
::ng-deep vertical-timeline .timeline-img {
  width: 60px !important;
  height: 60px !important;
  margin-left: -30px !important;
  /* Force Hardware Acceleration in WebKit */
  -webkit-transform: translateZ(0) !important;
  -webkit-backface-visibility: hidden !important;
  position: relative !important;
  top: 0 !important;
  left: 20px !important;
  border-radius: 50% !important;
  text-align: center;
  background-color: #b0bec5 !important;
}
@media only screen and (min-width: 1170px) {
  ::ng-deep vertical-timeline .timeline-img {
    font-size: 17px;
  }
  ::ng-deep vertical-timeline .timeline-img p {
    padding-top: 18px !important;
  }
  ::ng-deep vertical-timeline .cssanimations .timeline-img.is-hidden {
    visibility: hidden !important;
  }
}
::ng-deep vertical-timeline .timeline-content {
  position: relative !important;
  margin-left: 60px !important;
  background: white !important;
  border-radius: 0.25em !important;
  padding: 1em !important;
  box-shadow: 0 3px 0 #d7e4ed !important;
  margin-top: -60px;
  margin-bottom: 20px;
}
::ng-deep vertical-timeline .timeline-content:after {
  content: "" !important;
  display: table !important;
  clear: both !important;
}
::ng-deep vertical-timeline .timeline-content h2 {
  color: #303e49 !important;
}
::ng-deep vertical-timeline .timeline-content p, .timeline-content .date {
  font-size: 0.8125rem !important;
  color: #607d8b !important;
}
::ng-deep vertical-timeline .timeline-content .date {
  display: inline-block !important;
}
::ng-deep vertical-timeline .timeline-content p {
  margin: 0 !important;
  line-height: 1.6 !important;
}
::ng-deep vertical-timeline .timeline-content .date {
  float: left !important;
  padding: 0 !important;
  opacity: .7 !important;
  background: none !important;
}
::ng-deep vertical-timeline .timeline-content::before {
  top: 24px !important;
  left: auto !important;
  right: 100% !important;
  border-color: transparent !important;
  content: '' !important;
  position: absolute !important;
  height: 0 !important;
  width: 0 !important;
  border: 7px solid transparent !important;
  border-right-color: white !important;
}
@media only screen and (min-width: 768px) {
  ::ng-deep vertical-timeline .timeline-content h2 {
    font-size: 1.25rem !important;
  }
  ::ng-deep vertical-timeline .timeline-content p {
    font-size: 2rem !important;
  }
  ::ng-deep vertical-timeline .timeline-content .date {
    font-size: 0.875rem !important;
  }
}

.amber {
  background-color: #f1c40f !important;
}
