<div id="background" class="white" *ngIf="parcel">
  <div class="row no-margin">
    <div class="col s5">
      <div class="row">
        <div class="col s12">
          <div class="card-panel blue-grey z-depth-1 no-margin">
            <span id="trackingNumber" class="white-text">Shipment: {{parcel.trackingNumber}}</span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col s12">
          <div class="card-panel z-depth-1 no-margin center" [ngClass]=
            "{'green': parcel.stations[0].actionDescription == 'Parcel got delivered and was taken from #NoteOrPerson#',
                'amber': parcel.stations[0].actionDescription != 'Parcel got delivered and was taken from #NoteOrPerson#'}">
            <span id="progress" class="white-text truncate">
              {{parseActionDescription(parcel.stations[0])}}
            </span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col s12">
          <div id="timelineCard" class="card-panel blue-grey z-depth-0 no-margin">
            <div class="row">
              <div class="col s12 center">
                <h5 class="white-text">History</h5>
              </div>
            </div>
            <div class="row" *ngIf="showAddStationButton">
              <div class="col s12 center">
                <a [routerLink]="['/parcelManagement', parcel.trackingNumber]" class="btn">Add a station</a>
              </div>
            </div>
            <div class="row">
              <div class="col s12">
                <vertical-timeline style="overflow-y: scroll;">
                  <vertical-timeline-card *ngFor="let station of reversedStations" [dateValue]="station.timestamp">
                    <div class="row">
                      <div class="col s12">
                        <h2>{{parseActionDescription(station)}}</h2>
                      </div>
                    </div>
                  </vertical-timeline-card>
                </vertical-timeline>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col s7" style="padding-right: 30px;">
      <div class="row">
        <div class="col s12">
          <ngui-map #map [options]="mapOptions" (mapReady$)="onMapReady($event)">
            <custom-marker *ngFor="let address of addresses; let iAddress = index"
                           [position]="address"
                           (initialized$)="onMarkerInit($event);">
              <div class="counterMarker" [ngClass]="{'pulse': iAddress == addresses.length - 2, 'disabled' : iAddress > 0 && iAddress < addresses.length - 2}">
                <ng-container *ngIf="iAddress == 0"><i class="material-icons">receipt</i></ng-container>
                <ng-container *ngIf="iAddress > 0 && iAddress < addresses.length - 1">{{iAddress}}</ng-container>
                <ng-container *ngIf="iAddress == addresses.length - 1"><i class="material-icons">location_searching</i></ng-container>
              </div>
            </custom-marker>
            <polyline *ngIf="positions" [editable]="false"
                      [path]="filterStationPositions(positions)"
                      [geodesic]="true"
                      [strokeColor]="'#a5d6a7'"
                      [strokeOpacity]="1"
                      [strokeWeight]="2"></polyline>
          </ngui-map>
        </div>
      </div>
      <div class="row">
        <div class="col s12">
          <div id="shipmentDetails" class="card-panel blue-grey z-depth-0 no-margin">
            <h5 class="white-text center-align">Shipment details</h5>
            <div class="row">
              <div class="col s12">
                <ul materialize="collapsible" class="collapsible" data-collapsible="accordion">
                  <li>
                    <div class="collapsible-header active"><i class="material-icons">receipt</i>General information</div>
                    <div class="collapsible-body">
                      <table class="striped">
                        <tbody>
                        <tr>
                          <td class="bold-text no-padding">Tracking number:</td>
                          <td class="no-padding blue-grey-text">{{parcel.trackingNumber}}</td>
                        </tr>
                        <tr>
                          <td class="bold-text no-padding">Handover:</td>
                          <td class="no-padding">{{convertToDate(parcel.handOverTimestamp)}}</td>
                        </tr>
                        <tr>
                          <td class="bold-text no-padding">Parcel type:</td>
                          <td class="no-padding">{{parcel.parcelTypeName}}</td>
                        </tr>
                        </tbody>
                      </table>
                    </div>
                  </li>
                  <li>
                    <div class="collapsible-header"><i class="material-icons">location_city</i>Departure</div>
                    <div class="collapsible-body">
                      <table class="striped">
                        <tbody>
                        <tr>
                          <td class="bold-text no-padding">Person details:</td>
                          <td class="no-padding">{{parcel.departurePersonDetails}}</td>
                        </tr>
                        <tr>
                          <td class="bold-text no-padding">Road:</td>
                          <td class="no-padding">{{parcel.departure.road}}</td>
                        </tr>
                        <tr>
                          <td class="bold-text no-padding">City:</td>
                          <td class="no-padding">{{parcel.departure.city.name}}</td>
                        </tr>
                        <tr>
                          <td class="bold-text no-padding">Country:</td>
                          <td class="no-padding">{{parcel.departure.country}}</td>
                        </tr>
                        </tbody>
                      </table>
                    </div>
                  </li>
                  <li>
                    <div class="collapsible-header"><i class="material-icons">location_searching</i>Destination</div>
                    <div class="collapsible-body">
                      <table class="striped">
                        <tbody>
                        <tr>
                          <td class="bold-text no-padding">Person details:</td>
                          <td class="no-padding">{{parcel.destinationPersonDetails}}</td>
                        </tr>
                        <tr>
                          <td class="bold-text no-padding">Road:</td>
                          <td class="no-padding">{{parcel.destination.road}}</td>
                        </tr>
                        <tr>
                          <td class="bold-text no-padding">City:</td>
                          <td class="no-padding">{{parcel.destination.city.name}}</td>
                        </tr>
                        <tr>
                          <td class="bold-text no-padding">Country:</td>
                          <td class="no-padding">{{parcel.destination.country}}</td>
                        </tr>
                        </tbody>
                      </table>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
