<div class="white">
  <a materialize="tooltip" [routerLink]="['']" class="tooltipped" data-delay="50" data-tooltip="Return to home" data-position="right">
    <i class="material-icons medium left light-blue-text text-lighten-3">chevron_left</i>
  </a>
  <h3 *ngIf="parcel" class="center-align blue-grey-text">Tracking {{parcel.trackingNumber}}</h3>
</div>
<ngui-map #map [options]="mapOptions" (mapReady$)="onMapReady($event)">
    <custom-marker *ngFor="let address of addresses; let iAddress = index"
            [position]="address"
            (initialized$)="onMarkerInit($event);">
      <div class="counterMarker">{{iAddress + 1}}</div>
    </custom-marker>
    <polyline [editable]="false"
            [path]="positions"
            [geodesic]="true"
            [strokeColor]="'#b0bec5'"
            [strokeOpacity]="1"
            [strokeWeight]="2"></polyline>
</ngui-map>
<div id="background" class="blue-grey lighten-5" *ngIf="parcel">
  <div class="container">
    <div class="row">
      <div class="col s12">
        <h3 class="blue-grey-text center-align">History</h3>
      </div>
    </div>
    <div class="row">
      <vertical-timeline>
        <vertical-timeline-card *ngFor="let station of parcel.stations" [dateValue]="station.timestamp">
          <h2>{{station.actionDescription}}</h2>

        </vertical-timeline-card>
      </vertical-timeline>
    </div>
  </div>
</div>
