#background {
  min-height: 100vh;
  min-width: 100vw;
  padding-top: 100px;
  height: 100%;
  width: 100%;
}

.container {
  padding: 20px;
}

.addStaffModal {
  max-width: 700px;
}

.deleteIcon {
  cursor: pointer;
}
