<div id="background">
  <div class="row" id="container">
    <div class="col s12 card-panel z-depth-2 blue-grey lighten-5">
      <form (ngSubmit)="onSubmit()">
        <div class="row center">
          <img id="trackingImage" src="../../assets/images/tracking-icon.png">
        </div>
        <div class="row no-margin">
          <div class="input-field col s12">
            <input id="email" type="email" class="validate" name="email" [(ngModel)]="email">
            <label for="email">Email</label>
          </div>
        </div>
        <div class="row no-margin">
          <div class="input-field col s12">
            <input id="password" type="password" class="validate" name="password" [(ngModel)]="password">
            <label for="password">Password</label>
          </div>
        </div>
        <div class="row center" id="wrongCredentials" #wrongCredentialAlert>
          <span class="red-text text-darken-3">Wrong username or password</span>
        </div>
        <div class="row no-margin">
          <div class="col s12">
            <button class="btn waves-effect waves-light right" id="loginButton" type="submit" name="action">
              <i class="material-icons left">lock_open</i> Login
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
