#background {
  background-size: cover;
  background: url('../../assets/images/background-1.png') no-repeat center center;
  width: 100vw;
  height: calc(100vh - 64px);
  display: table-cell;
  vertical-align: middle;
}

#trackingImage {
  width: 100px;
  height: 100px;
  margin-bottom: 30px;
}

#container {
  width: 350px;
}

.card-panel {
  padding: 50px 30px;
}

#loginButton {
  margin-top: 50px;
}

#wrongCredentials {
  display: none;
}
