#searchContainer {
  left: 0;
  right: 0;
  max-width: 960px;
}

.input-field {
  padding-left: 10px;
  padding-right: 40px;
  margin: 0;
}

.input-field label {
  right: 0;
  left: unset;
}

#bodySection {
  min-height: 50vh;
  height: 100%;
  padding-top: 70px;
}

.parallax-container {
  height: calc(50vh - 64px);
}

.divider {
  margin: 70px 0;
}


.btn-floating.btn-large {
  width: 150px;
  height: 150px;
}

.btn-floating.btn-large i {
  line-height: 150px;
}

#createNewSection {
  display: none;
  min-height: 100vh;
  min-width: 100vw;
  width: 100%;
  height: 100%;
}

#searchRow label {
  font-size: 1.5rem;
}

#search {
  height: 4.5rem;
  font-size: 1.5rem;
  line-height: 50px;
}

#searchRow i {
  font-size: 3rem;
  line-height: 1.5;
}
